html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

.view-title {
  font-weight: 600;
}

.icon:hover {
  opacity: 50%;
}

.global {
  display: flex;
  min-height: 100vh;
}

.main {
  flex: 1;
  overflow: auto;
}


/** Sidebar **/
.sidebar_content {
  overflow-y: auto;
}

.sidebar-container {
  color: white;
  width: 60px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar-container::-webkit-scrollbar {
  display: none;
}

.nav-option {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 30px;
  gap: 20px;
  width: 60px;
}

.active {
  opacity: 50%;
}

.nav-option:hover {
  background-color: rgb(190, 190, 190);
  cursor: pointer;
}

.sidebar-option {
  font-size: 1.1rem;
}

.sidebar-icon {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .small-device-icon {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .sidebar-container {
    display: none;
  }

  .small-device-icon {
    display: block;
    cursor: pointer;
  }
}
